[submodule "CMSC-421"]
	path = CMSC-421
	url = git@github.com:arenvista/CMSC-421.git
[submodule "MATH-479"]
	path = MATH-479
	url = git@github.com:arenvista/MATH-479.git
[submodule "MATH-341"]
	path = MATH-341
	url = git@github.com:arenvista/MATH-341.git
[submodule "CMSC-475"]
	path = CMSC-475
	url = git@github.com:arenvista/CMSC-475.git
